# --- Python / Virtual Environment ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python

# --- Environment Variables (Security) ---
.env

# --- Editor / IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Project Specific ---
# 임시로 생성되는 로그나 데이터 파일
*.log

# [DATABASE]
# PostgreSQL 로컬 데이터 저장 폴더 제외
postgres_data/
postgres_data/**